<div class="sidebar">
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu"
            data-accordion="false">
            <% Object.entries(sidebar).map(([manuName, manu]) => { %>
            <li
                class="nav-item  <% if(manu.subMenu) { %>has-treeview <% if(manu.subMenu.some((sm) => sm.url === currentURL)) { %>menu-open<% } %><% } %>">
                <a href="<%=manu.url%>" class="nav-link <% if(currentURL === manu.url) { %>active<% } %>">
                    <%-manu.icon%>
                    <p>
                        <%=manu.title%>
                        <% if(manu.subMenu) { %><i class="right fas fa-angle-left"></i><% } %>
                    </p>
                </a>
                <% if(manu.subMenu) { %>
                <ul class="nav nav-treeview">
                    <% manu.subMenu.map((sm) => { %>
                    <li class="nav-item">
                        <a href="<%=sm.url%>" class="nav-link <% if(currentURL === sm.url) { %>active<% } %>">
                            <%-sm.icon%>
                            <p><%=sm.title%></p>
                        </a>
                    </li>
                    <% }) %>
                </ul>
                <% } %>
            </li>
            <% }) %>
        </ul>
    </nav>
</div>