<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="<%=status%> page">
        <meta name="keywords" content="hospital, clinic, diagnostic" />
        <meta name="author" content="Hyper Queue">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%=status%> Page || <%=appName%></title>
        <link type="text/css" rel="stylesheet" href="/error/css/style.css" />
        <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
    </head>

    <body>
        <div id="notfound">
            <div class="notfound">
                <div class="notfound-404">
                    <h1>Oops!</h1>
                    <%if(status === 404){%>
                    <h2><%=status%> - Not Found</h2>
                    <%}else{%>
                    <h2><%=status%> - Internal Server Error</h2>
                    <%}%>
                </div>
        </div>
    </div>
</body>

</html>
